/* rubik 400 500 700 */
/* roboto 400 , 400 italic, 500. 500 italic */

/* Fonts */
@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-display: swap;
     src:url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), 
           url('../fonts/roboto-v30-latin-regular.woff') format('woff'); 
   }
   @font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 400;
     font-display: swap;
     src:url('../fonts/roboto-v30-latin-italic.woff2') format('woff2'), 
          url('../fonts/roboto-v30-latin-italic.woff') format('woff'); 
   }
   @font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     font-display: swap;
     src:url('../fonts/roboto-v30-latin-500.woff2') format('woff2'), 
          url('../fonts/roboto-v30-latin-500.woff') format('woff'); 
   }
   @font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 500;
     font-display: swap;
     src:url('../fonts/roboto-v30-latin-500italic.woff2') format('woff2'), 
          url('../fonts/roboto-v30-latin-500italic.woff') format('woff'); 
   }
   @font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 700;
     font-display: swap;
     src:url('../fonts/roboto-v30-latin-700.woff2') format('woff2'),
           url('../fonts/roboto-v30-latin-700.woff') format('woff'); 
   }
@font-face {
     font-family: 'Rubik';
     font-style: normal;
     font-weight: 400;
     font-display: swap;
     src:url('../fonts/rubik-v20-latin-regular.woff2') format('woff2'), 
          url('../fonts/rubik-v20-latin-regular.woff') format('woff'); 
   }
   @font-face {
     font-family: 'Rubik';
     font-style: normal;
     font-weight: 500;
     font-display: swap;
     src:url('../fonts/Rubik-Medium.woff2') format('woff2'), 
          url('../fonts/Rubik-Medium.woff') format('woff'); 
   }
   @font-face {
     font-family: 'Rubik';
     font-style: normal;
     font-weight: 500;
     font-display: swap;
     src:url('../fonts/Rubik-Medium.woff2') format('woff2'), 
          url('../fonts/Rubik-Medium.woff') format('woff'); 
   }
   @font-face {
     font-family: 'Rubik';
     font-style: normal;
     font-weight: 700;
     font-display: swap;
     src:url('../fonts/rubik-v20-latin-700.woff2') format('woff2'), 
          url('../fonts/rubik-v20-latin-700.woff') format('woff'); 
   }
/* UMUMIY STILLAR */
html{
     box-sizing: border-box;
     height: 100%;
}
*,
*::before,
*::after{
     box-sizing: inherit;
}
body{
     height: 100%;
     font-family: 'Roboto', 'Arial', sans-serif;
     font-size: 15px;
     line-height: 18px;
     color: #434343;
}
*:focus{
     outline: 0;
     box-shadow: 0 0 0 4px rgba(41, 80, 147, 0.4)
}
img{
     max-width: 100%;
     height: auto;
}
/* CONTAINER */ 
.container{
     max-width: 1240px;
     padding: 0 20px;
     margin: 0 auto;
}
.site-header_actions{
     margin-left: auto;
     display: flex;
     flex-wrap: wrap;
}
/* Site header */
.site_header{
     border-top: 4px solid #295093;
     background-color: #F6F6F9;
     padding-top: 40px;
     padding-bottom: 23px;
}
.site-header_top{
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     font-size: 16px;
     line-height: 19px;
     margin-bottom: 40px;
}
.logo{
     background-color:#fff;
     border-radius:5px;
     padding: 4px 8px;
     box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
     border-radius: 5px;
}
.logo:hover{
     transform: scale(1.025);
}
.logo:focus{
     box-shadow: 0 0 0 4px rgba(41, 80, 147, 0.4)
}
/* EXCHANGE */
.exchange-rates{
     display: flex;
     flex-wrap: wrap;
     margin: 0;
     padding: 0;
     list-style: none;
     align-items:center;
    
     color: #7A7A7A
}
.site-header_exchange-rates{
     margin-left: 17px;
}
.exchange-rates_item{
     margin-right: 26px;
}
.exchange-rates_icon{
     color:#285193;
}
.exchange-rates_item:last-child{
     margin-right: 0;
}
.search-button{
     padding: 0;
     border: none;
     border-radius: 5px;
     background-color: #fff;
}
.seach-button_wrapper{
     padding: 8px;
     display: flex;
     align-items: center;

}
.site-header_seach-button{
     margin-right: 22px;

}
/* LANGUAGE_TOGGLER */
.language-toggler{
     padding: 10px;
     border: none;
     border-radius: 5px;
     background-color: #fff;
}
.site-header_toggler{
     display: none;
}
.language-toggler_img{
     width: 20px;
     height: 20px;
     border-radius: 50%;
     margin-right: 5px;
}
.language-toggler_wrapper{
     display: flex;
     align-items: center; 
}
.language-toggler_text{
     font-weight: 500;

}
.search-button:hover,
.language-toggler:hover{
     box-shadow:  0 5px 8px rgba(34, 60, 80, 0.2);
     transition: 0.3s ease;
     cursor: pointer;
}
.site-header_language_toggler{
     margin-right: 24px;
}
.telegram-sub{
     display: flex;
     align-items: center;
     background-color: #1E96C8;
     font-weight: 500;
     background-image: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
     border-radius: 5px;
     padding: 10px;
     text-decoration: none;
     color: #fff;
}
.telegram-sub:hover{
     background-image:linear-gradient(90deg, #37AEE2 15.07%, #1E96C8 85.96%);
     box-shadow:  0 5px 8px rgba(34, 60, 80, 0.2);
     transition: 0.3s ease;
}
.telegram-sub_img{
     margin-right: 7px;
}
/* SITENAV */
.sitenav{
     background-color:#fff;
     box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
     border-radius: 5px;
     margin-bottom: 18px;
}
.sitenav_item{
     margin: 5px 0;
}
.site-nav_list{
     margin: 0;
     padding: 17px 24px;
     list-style-type: none;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
}
.sitenav_item:not(:last-child){
     margin-right: 25px;
}
.sitenav_link{
     font-Size:19px;
     font-Weight: 500;
     Line-height: 22.52px;
     color:#515151;
     text-decoration: none;
     transition: color 0.3s ease;
}
.sitenav_link:hover{
     color: #295091
}
/* TOP BANNER */
.top-banner_link{
     display: flex;
}

/* MEDIA QUERIYES */
@media (max-width:1000px){
     .site-header{
          padding-top: 20px;
     }
     .site-header_top{
          align-items: stretch;
     }
     .sitenav_link{
          font-size: 16px;
     }
     .exchange-rates{
          order: -1;
          width: 100%;
          justify-content: center;
     }
}
@media (max-width:850px){
     .site-header_top{
          margin-bottom: 20px;
     }
     .exchange-rates{
       font-size: 14px;  
       line-height: 17px;
     }
}
@media (max-width:750px){
     .site-header{
          padding: 20px 0;
     }
     .site-header_top{
          margin-bottom: 0;
     }
     .site-header_toggler{
         display: block;
         border:none;
         padding: 10px;
         background-color:#fff;
         border-radius:5px;
         font-weight: 550;  
        
     }
     .site-header_toggler:focus{
          box-shadow: 0 0 0 4px rgba(41, 80, 147, 0.4)
     }
     .site-header_toggler:hover{
          box-shadow:  0 5px 8px rgba(34, 60, 80, 0.2);
          transition: box-shadow 0.3s ease;
          cursor: pointer;
     }
     .exchange-rates,
     .search-button,
     .language-toggler,
     .telegram-sub,
     .sitenav{
          display: none;
     }
     .sitenav{
          margin-bottom: 0;
     }
     .top-banner{
          display: none;
     }
}