/* rubik 400 500 700 */
/* roboto 400 , 400 italic, 500. 500 italic */

/* Fonts */
@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-display: swap;
     src:url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), 
           url('../fonts/roboto-v30-latin-regular.woff') format('woff'); 
   }
   @font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 400;
     font-display: swap;
     src:url('../fonts/roboto-v30-latin-italic.woff2') format('woff2'), 
          url('../fonts/roboto-v30-latin-italic.woff') format('woff'); 
   }
   @font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     font-display: swap;
     src:url('../fonts/roboto-v30-latin-500.woff2') format('woff2'), 
          url('../fonts/roboto-v30-latin-500.woff') format('woff'); 
   }
   @font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 500;
     font-display: swap;
     src:url('../fonts/roboto-v30-latin-500italic.woff2') format('woff2'), 
          url('../fonts/roboto-v30-latin-500italic.woff') format('woff'); 
   }
   @font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 700;
     font-display: swap;
     src:url('../fonts/roboto-v30-latin-700.woff2') format('woff2'),
           url('../fonts/roboto-v30-latin-700.woff') format('woff'); 
   }
@font-face {
     font-family: 'Rubik';
     font-style: normal;
     font-weight: 400;
     font-display: swap;
     src:url('../fonts/rubik-v20-latin-regular.woff2') format('woff2'), 
          url('../fonts/rubik-v20-latin-regular.woff') format('woff'); 
   }
   @font-face {
     font-family: 'Rubik';
     font-style: normal;
     font-weight: 500;
     font-display: swap;
     src:url('../fonts/Rubik-Medium.woff2') format('woff2'), 
          url('../fonts/Rubik-Medium.woff') format('woff'); 
   }
   @font-face {
     font-family: 'Rubik';
     font-style: normal;
     font-weight: 500;
     font-display: swap;
     src:url('../fonts/Rubik-Medium.woff2') format('woff2'), 
          url('../fonts/Rubik-Medium.woff') format('woff'); 
   }
   @font-face {
     font-family: 'Rubik';
     font-style: normal;
     font-weight: 700;
     font-display: swap;
     src:url('../fonts/rubik-v20-latin-700.woff2') format('woff2'), 
          url('../fonts/rubik-v20-latin-700.woff') format('woff'); 
   }
/* UMUMIY STILLAR */
html{
     box-sizing: border-box;
     height: 100%;
}
*,
*::before,
*::after{
     box-sizing: inherit;
}
body{
     height: 100%;
     font-family: 'Roboto', 'Arial', sans-serif;
     font-size: 15px;
     line-height: 18px;
     color: #434343;
}
/* CONTAINER */
.container{
     max-width: 1240px;
     padding: 0 20px;
     margin: 0 auto;
}
.site-header_actions{
     margin-left: auto;
     display: flex;
     flex-wrap: wrap;
}
/* Site header */
.site_header{
     border-top: 4px solid #295093;
     background-color: #F6F6F9;
     padding-top: 40px;
     padding-bottom: 23px;
}
.site-header_top{
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     font-size: 16px;
     line-height: 19px;
}
.logo{
     background-color:#fff;
     border-radius:5px;
     padding: 4px 8px;
     box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
     border-radius: 5px;
}
/* EXCHANGE */
.exchange-rates{
     display: flex;
     flex-wrap: wrap;
     margin: 0;
     padding: 0;
     list-style: none;
     align-items:center;
    
     color: #7A7A7A
}
.site-header_exchange-rates{
     margin-left: 17px;
}
.exchange-rates_item{
     margin-right: 26px;
}
.exchange-rates_icon{
     color:#285193;
}
.exchange-rates_item:last-child{
     margin-right: 0;
}
.search-button{
     padding: 0;
     border: none;
     border-radius: 5px;
     background-color: #fff;
}
.seach-button_wrapper{
     padding: 8px;
     display: flex;
     align-items: center;

}
.site-header_seach-button{
     margin-right: 22px;

}
/* LANGUAGE_TOGGLER */
.language-toggler{
     padding: 10px;
     border: none;
     border-radius: 5px;
     background-color: #fff;
}
.language-toggler_img{
     width: 20px;
     height: 20px;
     border-radius: 50%;
     margin-right: 5px;
}
.language-toggler_wrapper{
     display: flex;
     align-items: center; 
}
.language-toggler_text{
     font-weight: 500;

}
.site-header_language_toggler{
     margin-right: 24px;
}
.telegram-sub{
     display: flex;
     align-items: center;
     background-color: #1E96C8;
     font-weight: 500;
     background-image: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
     border-radius: 5px;
     padding: 10px;
     text-decoration: none;
     color: #fff;
}
.telegram-sub:hover{
     background-image:linear-gradient(90deg, #37AEE2 15.07%, #1E96C8 85.96%);
}
.telegram-sub_img{
     margin-right: 7px;
}
